<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1550039120-5d6529f0c4de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container ">
    <h1>Our <strong>Hoods</strong></h1>
    <p>They are <strong>monsters</strong> <i class="far fa-angry"></i> </p>
    <div class="d-flex align-items-end flex-column bd-highlight mb-3">
      <div class="mt-auto p-2 bd-highlight">
      </div>
    </div>
  </div>
</div>
<div class = "container">
  <div class ="row">
    <% @hoods.each do |hood| %>
      <div class ="col-xs-12 col-md-6 col-lg-3">
        <div class ="d-flex justify-content-around">
          <div class ="card mt-3" id="card-hood">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1572983423767-fa0ff3d2bf81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="Photo de chaque hoodman">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5 class="card-title"><%= hood.name %></h5>
                <p>

                </p>
              </div>
              <p class="card-text"><%= hood.description %></p>
              <%= link_to "See more", hood_path(hood), class:"btn btn-primary" %>
            </div>
            <div class="card-price" >
                <p><%= hood.price %>€</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
