<div class="container d-flex justify-content-center my-3">
  <div class="card mb-3" style="width: 700px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://picsum.photos/200" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div><h4 class="card-title"><%=@hood.name%></h4></div>
          <div> <%= link_to "Proposer un projet", new_hood_contract_path(@hood)%></div>
            <p class="card-text"><%= @hood.city %></p>
          <div>
            <p class="card-text">Tarif indicatif</p>
            <p class="card-text"><%=@hood.price%> €</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
