<!-- Footer -->
<footer class="page-footer font-small footer-background">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 pt-3">
        <div class="d-flex justify-content-center">

          <!-- Facebook -->
          <a href="" class="fb-ic">
            <i class="fab fa-facebook-f fa-lg color-item mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a href="" class="tw-ic">
            <i class="fab fa-twitter fa-lg color-item mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a href="" class="ins-ic">
            <i class="fab fa-instagram fa-lg color-item mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a href="" class="pin-ic">
            <i class="fab fa-pinterest fa-lg color-item fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-2 text-white">© 2020 Copyright:
    <a href="#" class="text-color"> LaCagoule.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
