.show-box{
  margin: 0 150px 20px 150px;
}
.card-hood{
  border-radius: 8px;
  box-shadow: 0 0 0 black;
  transition: box-shadow 5s ease-out;
  transition: top 1s ease-out;;
  &:hover{
    box-shadow: 0 15px 15px #6F6F70;
    top: -10px;
  }
}
.text-header{
  color: #484848;
  border-bottom: 1px solid #484848;
}

.card-image{
  height: 250px;
  object-fit: cover;
}

.card-img-top{
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.card-body{
  position: relative;
  color: #484848;
}
.card-body-show{
  position: relative;
  color: #484848;
  margin-top: 10px;
}
.card-body-header{
  text-align: center;
  position: relative;
  padding: 20px;
  padding-top: 120px;
  padding-bottom: 50px;
  color: #484848;
}

.card-price{
  display: flex;
  position: absolute;
  top: -15px;
  left: 100px;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 25px;
  text-align: center;
  padding: 4px 8px;
  color: #545454;
  font-size: 16px;
}
.card-price p{
  margin: 0;
  padding: 0;
}

.stars{
  display: flex;
  position: absolute;
  font-size: 10px;
  color: #465192;
  top: -10px;
  left: 10px;
  background: white;
  padding: 4px 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.stars-new{
  display: flex;
  position: absolute;
  font-size: 10px;
  color: gold;
  top: -10px;
  left: 100px;
  background: white;
  padding: 4px 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.stars p{
margin: 0;
padding: 0;
}

.lvl-violence p{
  color: #484848;
}

.lvl-violence{
  color: #A00021;
  margin: 0px;
}
.lvl-violence .drop-vide{
  color: rgba(0,0,0, 0.3);
}
.card-role{
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 25px;
  text-align: center;
  padding: 4px 8px;
  color: #545454;
  font-size: 16px;
}
.card-role p{
  margin: 0;
  padding: 0;
}


.name-hood{
  color: white;
  display: flex;
  position: absolute;
  top: -65px;
  text-shadow: 0 0 5px black;
}

.hood-city{
  color: white;
  display: flex;
  position: absolute;
  top: -35px;
  font-size: 12px;
  text-shadow: 0 0 5px black;
}
.contract-header{
  position: relative;
  margin: 120px 0 16px 0;
}
.contract-image{
    position: absolute;
    margin: auto;
    top: -100px;
    right: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px $rouge,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,;
    background: white;
    overflow: hidden;
    animation: mvTop 1.5s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

}

// .wants-role{
//   position: relative;
// }

.role {
  position: absolute;
  top: -100px;
  background:gradient( linear, left top, left bottom, color-stop(0.05, #a00033), color-stop(1, #690124) );
  background:linear-gradient( center top, #a00033 5%, #690124 100% );
  background-color:#a00033;
  border-radius:28px;
  display:inline-block;
  color:#ffffff;
  font-size:16px;
  height:38px;
  line-height:38px;
  width:167px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #a00033;
}.button-rouge:hover {
  color: #ffffff;
  text-decoration: none;
  background-color:#82002b;
}.button-rouge:active {
  text-decoration:none;
  position:relative;
  top:1px;
}

.card-product {
  overflow: hidden;
  margin-right: 50px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  height: 200px;
}

.card-product img {
  margin-left: 10px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.block-name-star{
  display:flex;
  position: relative;
}
.card-product .card-product-infos {
  margin: 10px;
  width: 100%;
}
