.footer-background{
  background: #333333;
}
.color-item{
  color: #A00021;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  &:hover{
    color: #A00021;
    opacity: 1;
    text-decoration: none;
  }
}
.text-color{
  color: #A00021;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  &:hover{
    color: #A00021;
    opacity: 1;
    text-decoration: none;
  }
}
