.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  &:hover{
    color: white;
    opacity: 1;
  }
}

.item_de_nav{
  display: flex;
  justify-content: end;
}
