.navbar-lewagon {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link{
  color: white;
}
#navbarSupportedContent{
  color: white;
}
